html, body{
	background: #ffffff; 
	height: 100%;
	width: 100%;
	font-family: 'Poppins';
	font-size: 22px;
	color: #1e1e1e;
}

.nav {
	font-size: 20px;
}
.navbar {
	height:50px;
	background-color: #2b1231;
	/* text-align: center; */
}
.nav-link {
	background-color: #2b1231;
	color: white;
	height:60px;
	padding-top: 15px;
	
}

.nav-link:hover{
	background-color: white;
	color: black;
}

.nav-link:active {
	color:#ba3a21 !important;
}

.navbar:active {
	color:#ba3a21;
}


.navbar-toggler-icon {
	/* background-color: #2b1231; */
	/* color: white; */
	height: 25px;
	shape-margin: #2b1231;

}

.navbar-dark {
	color:white;
	border-color: #2b1231;
}


.subscription{
	background-color: #ba3a21;
	color: white;
	/* position: absolute; */
	right: 0;

}

.subscription:hover{
	background-color: white;
	color:black;
}

.card {
	border: #ffffff !important;
}



ul {
	margin: 0;
	padding: 0;
}


li {
	list-style: none;
	line-height: 30px;
}

li:active {
	color: #c36344;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color:#c36344;
}


tr {
	color: #ba3a21;
	background-color: #ba3a21;
}
td {
	color: #ba3a21;
	background-color: #ba3a21;
	
}

.org {
	background-color:#ba3a21;
	color: white;
	height: 400px;
}

.estetica-flecha {
	max-width: 100%;
}
h1 {
	background-color: #2b1230; 
	color: #bc3b1a;
	padding-bottom: 0px;
	margin-top: 0px;
	padding-left: 30px;
	height:90px;
	padding-top: 25px;
	font-size: 40px;
	
}


h2 {
	background-color: #bc3b1a;
	color: white;
	padding-top: 0px;
	padding-left: 30px;
	margin-bottom: 0px;
	font-size: 30px;
}


h3 {
	font-size: 20px;
	/* padding-left: 30px; */
}

.mesa {
	padding-left: 40px;
}




.timer {
	font-size: 50px;
	padding-left: 30px;
	margin-top: 1px;
	padding-top: 0px;
	border-top: 0px;
}

.dias {
	padding-left: 30px;

}



hr {
	height: 15px;
	background-color: #bc3b1a;
	opacity: 100%;
	border-color: #bc3b1a;
}



footer img {
	max-height: 70%;
	max-width: 70%;
	/* padding: 1px; */
	margin-left: 0px;
	margin-right: 0px;
	/* display: block; */
	/* height: auto !important;
	width: auto !important; */
	/* padding-left: 10px; */
}

footer p {
	font-size: 15px;
}

#hora {
	color: #bc3b1a;
	padding-top: 30px;
}

#label-inicio-evento {
	padding-top: 50px;
}



/* Desktop */

@media (min-width: 567px) {
	.abertura{
		padding-left: 200px;
		margin-top: 20px;
	} 
	.logo-realizacao {
		max-width: 350px;
		max-height: 300px;
		padding-left: 30px;
		padding-top: 10px;
		margin-left: 10px;
	}

	.label-footer {
		padding-left: 20px; 
		font-size: 18px;
	}

	#label-inicio-evento {
		padding-top: 100px;
	}

	#instagram{
		max-height: 60px;
		padding-left: 150px;
		padding-top: 15px;
	}
}
  

/* Mobile */
@media (max-width: 576px) {
p {
	font-size: 18px;
	padding-left: 0px;
}


footer p {
	font-size: 18px;
}

#label-inicio-evento {
	padding-top: 0px;
}

#instagram{
	max-height: 40px;
	padding-left: 150px;
	padding-bottom: 10px;
}

.logo-realizacao {
	width: 600px;
	height: 200;
	padding-left: 80px;
	margin-bottom: 5px;
}

.logo{
	max-width: 150px;
	max-height: 300px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding: 2px;
}



.timer {
	font-size: 40px;
	padding-left: 30px;
	margin-top: 1px;
	padding-top: 0px;
	border-top: 0px;
}
}

	
  




